<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel panel-primary">
          <div class="panel-heading">Uploading Data</div>
          <div class="panel-body">
            <div class="progress progress-striped active">
              <div class="progress-bar"  role="progressbar" aria-valuenow="100" 
                   aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <form name="searchForm">
    <div class="row">
      <h3 class="col-md-1">Search</h3>
      <span class="col-md-2 select-box">
        <select class="form-control" ng-model="$ctrl.criteria.searchBy" 
                ng-model="$ctrl.criteria.searchBy" ng-change="$ctrl.resetValue()">
          <option value="byName">with Name</option>
          <option value="byScore">with Score</option>
          <option value="byCertificate">with Certificate</option>
          <option value="byAsc">is ASC Certified?</option>
          <option value="byCaptureMethod">with Capture Method</option>
          <option value="byMaterial">with Product Type</option>
        </select>
      </span>
      <div class="col-md-6 form-part" ng-show='$ctrl.criteria.searchBy == "byName"'>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="$ctrl.criteria.value"
                 ng-keydown='$event.keyCode == 13 && $ctrl.search()' placeholder="List All">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="$ctrl.findByName()">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-6 form-part" ng-show='$ctrl.criteria.searchBy == "byScore"'>
        <span class="col-md-2 select-box">
          <select class="form-control" ng-model="$ctrl.criteria.cmp">
            <option value="eq">=</option>
            <option value="gt">&gt;</option>
            <option value="lt">&lt;</option>
            <option value="gte">&gt;=</option>
            <option value="lte">&lt;=</option>
          </select>
        </span>
        <div class="input-group col-md-5">
          <input type="text" class="form-control" ng-model="$ctrl.criteria.value">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" 
                    ng-disabled='$ctrl.criteria.value === ""' ng-click="$ctrl.findByScore()">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-6 form-part" ng-show='$ctrl.criteria.searchBy == "byCertificate"'>
        <span class="col-md-3 select-box">
          <select class="form-control" ng-model="$ctrl.criteria.value">
            <option value="None" selected>None</option>
            <option value="IFFO">IFFO</option>
            <option value="MSC">MSC</option>
            <option value="ASC">ASC</option>
            <option value="RTRS">RTRS</option>
            <option value="GOVT">Government</option>
          </select>
        </span>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="$ctrl.findByCert()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
      <div class="col-md-6 form-part" ng-show='$ctrl.criteria.searchBy == "byAsc"'>
        <span class="col-md-2 select-box">
          <select class="form-control" ng-model="$ctrl.criteria.value">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </span>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" 
                  ng-disabled='searchForm.$invalid' ng-click="$ctrl.findByAsc()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
      <div class="col-md-6 form-part" ng-show='$ctrl.criteria.searchBy == "byCaptureMethod"'>
        <span class="col-md-4 select-box">
          <select class="form-control" ng-model="$ctrl.criteria.value">
            <option value="Wild Caught">Wild Caught</option>
            <option value="Farmed">Farmed</option>
            <option value="Byproduct">Byproduct / Trimming</option>
          </select>
        </span>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="$ctrl.findByCaptureMethod()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
      <div class="col-md-6 form-part" ng-show='$ctrl.criteria.searchBy == "byMaterial"'>
        <span class="col-md-7 select-box">
          <select class="form-control" ng-model="$ctrl.criteria.value">
            <option value="Fish Meal">Fish Meal</option>
            <option value="Fish Oil">Fish Oil</option>
            <option value="DFS (Dried Fish Soluble)">DFS (Dried Fish Soluble)</option>
            <option value="Actipal HC6 (Krill hydrolysate Concentrate)">Actipal HC6 (Krill hydrolysate Concentrate)</option>
            <option value="Olymarc">Olymarc</option>
            <option value="HP2">HP2</option>
            <option value="SL5">SL5</option>
            <option value="SPC">SPC</option>
          </select>
        </span>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="$ctrl.findByMaterial()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <h3 ng-hide='$ctrl.suppliers.length > 0'>No results found.</h3>
  <table class="table table-hover result-type1" ng-show='$ctrl.hasType1Result()'>
    <tr>
      <th>Company</th>
    </tr>
    <tr ng-repeat="supplier in $ctrl.suppliers">
      <td>
        <a ui-sref="home.supplierEdit({'supplierId' : '{{supplier._id}}'})">{{supplier.company}}</a>
      </td>
    </tr>
  </table>
  <table class="table table-hover result-type2" ng-show='$ctrl.hasType2Result()'>
    <tr>
      <th>Score</th>
      <th>Company / Site</th>
    </tr>
    <tr ng-if="0" ng-repeat-start="supplier in $ctrl.suppliers"></tr>
    <tr>
      <td></td>
      <td>
        <a ui-sref="home.supplierEdit({'supplierId' : '{{supplier._id}}'})">{{supplier.company}}</a>
      </td>
    </tr>
    <tr ng-repeat="site in supplier.sites">
      <td>{{site.score}}</td>
      <td class="indent">{{site.siteName}}</td>  
    </tr>
    <tr ng-if="0" ng-repeat-end></tr>
  </table>
</div>