<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel panel-primary">
          <div class="panel-heading">Uploading Data</div>
          <div class="panel-body">
            <div class="progress progress-striped active">
              <div class="progress-bar"  role="progressbar" aria-valuenow="100" 
                   aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link-modal model="$ctrl.linkUrl" action="$ctrl.linkToUrl()"></link-modal>
<form name='editForm' class="container-fluid" ng-init="$ctrl.init()" novalidate>
  <div id='btn-bar' class="row btn-bar" ng-hide="!$ctrl.isAdmin()">
    <button id='toggleActiveBtn' class="btn btn-default col-md-1" ng-click="$ctrl.toggleActive()"
            ng-disabled="!$ctrl.readonly" ng-class='{disabled : !$ctrl.readonly}'
            data-placement='bottom' data-content='{{$ctrl.message}}' data-html='true'>
      {{$ctrl.supplier.active ? 'Deactivate ' : 'Activate '}}
      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" 
            ng-hide="!$ctrl.supplier.active"></span>
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" 
            ng-hide="$ctrl.supplier.active"></span>
    </button>
    <button id='editBtn' class="btn btn-default col-md-1" ng-click="$ctrl.beginEdit()"
            ng-disabled="!$ctrl.isEditable()" ng-class='{disabled : !$ctrl.isEditable()}'
            data-html='true' data-placement='bottom' data-content='{{$ctrl.message}}'
            ng-hide="!$ctrl.isAdmin()">
      Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default col-md-1" ng-click="$ctrl.submit()"
            ng-hide="$ctrl.readonly" ng-disabled="editForm.$invalid">
      Update <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default col-md-1" ng-click="$ctrl.cancelEdit()" ng-hide="$ctrl.readonly">
      Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
  <div class='row'>
    <input-text class='col-md-4 form-group' required='true' name="company"
                label="Company / Supplier" placeholder="Company / Supplier" 
                model="$ctrl.supplier.company" field='editForm.company'
                readonly="true"></input-text>
    <link-text class='col-md-4 form-group' name='companyWebsite'
                label='Company Website' placeholder='Company Website'
                txt-model="$ctrl.supplier.companyWebsite.text"
                url-model="$ctrl.supplier.companyWebsite.url"
                field='editForm.companyWebsite'
                action="$ctrl.openLinkModal(url, callback)"
                readonly='$ctrl.readonly'></link-text>
    <input-text class='col-md-4 form-group' name='companyCertificate'
                label='Company Certificates' placeholder='Company Certificates'
                model="$ctrl.supplier.companyCertificate" field='editForm.companyCertificate'
                readonly='$ctrl.readonly'></input-text>
  </div>
  <div class='row extra-bottom-padding'>
    <input-text class='col-md-4 form-group' required='true' name="materials" 
                label="Materials" placeholder="Materials"
                model="$ctrl.supplier.materials" field='editForm.materials'
                readonly='$ctrl.readonly'></input-text>
    <input-text class='col-md-4 form-group' required='true' name='productCode'
                label='Product Code' placeholder='Product Code' 
                model="$ctrl.supplier.productCode" field='editForm.productCode'
                readonly='$ctrl.readonly'></input-text>
    <input-text class='col-md-4 form-group' required='true' name='countryOfOrigin'
                label='Country Of Origin' placeholder='Country Of Origin'
                model="$ctrl.supplier.countryOfOrigin" field='editForm.countryOfOrigin'
                readonly='$ctrl.readonly'></input-text>
  </div>
  <div class='row extra-bottom-padding'>
    <link-text class='col-md-4 form-group' name='sanipesWebsite'
               label='SANIPES Website' placeholder='SANIPES Website'
               txt-model="$ctrl.supplier.sanipesWebsite.text"
               url-model="$ctrl.supplier.sanipesWebsite.url"
               field='editForm.sanipesWebsite'
               action="$ctrl.openLinkModal(url, callback)"
               readonly='$ctrl.readonly'></link-text>
  </div>
  <div class="row">
    <div class="panel-group fill" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-info" ng-repeat="site in $ctrl.supplier.sites track by $index">
        <div class="panel-heading" role="tab" id="siteName{{$index}}">
          <h4 class="panel-title">
            <a class="btn btn-info btn-xs" role="button" data-toggle="collapse" data-parent="#accordion" 
               href="#site{{$index}}" aria-expanded="false" aria-controls="site{{$index}}">
              <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </a>
            <input type="text" value="{{site.siteName}} ({{site.score}})" class="site-name" ng-readonly='$ctrl.readonly'>
            <a class="btn btn-info btn-sm pull-right" role="button" href="#" 
               ng-click="$ctrl.removeSite($index)" ng-hide="$ctrl.readonly">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="site{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <div class='col-md-2 form-group'>
                <div class='row no-margin'>
                  <label for="govtManaged">Gov&apos;t Managed</label>
                </div>
                <div class='row no-margin'>
                  <span class='col-md-4 col-md-offset-4 no-padding'>
                    <input type='checkbox' id='govtManaged' name='govtManaged' 
                           ng-model="site.govtManaged" ng-disabled='$ctrl.readonly'>
                  </span>
                </div>
              </div>
              <div class='col-md-2 form-group'>
                <label class="" for='certificate'>Certificate</label>
                <select name="certificate" class="form-control" ng-model='site.certType'
                        ng-disabled='$ctrl.readonly'>
                  <option value='None'>None</option>
                  <option value='IFFO'>IFFO</option>
                  <option value='MSC'>MSC</option>
                  <option value='ASC'>ASC</option>
                  <option value='RTRS'>RTRS</option>
                </select>
              </div>
              <input-date class='col-md-4 form-group' name='expiryDates'
                          label='MSC/IFFO/ASC/RTRS Expiry Dates'
                          model="site.certExpiry" field='editForm.expiryDates'
                          readonly='$ctrl.readonly'></input-date>
              <link-text class='col-md-4 form-group' name='link'
                          label='Link (IFFO/MSC/ASC/RTRS websites)' placeholder='Link (IFFO/MSC/ASC/RTRS websites)'
                          txt-model="site.certLink.text"
                          url-model="site.certLink.url"
                          field='editForm.link'
                          action="$ctrl.openLinkModal(url, callback)"
                          readonly='$ctrl.readonly'></link-text>
            </div>
            <div class="row">
              <input-text class='col-md-4 form-group' name='fishSpecies'
                  label='Fish Species' placeholder='Fish Species'
                  model="site.fishSpecies" field='editForm.fishSpecies'></input-text>
              <input-text class='col-md-4 form-group' name='speciesCertification'
                  label='Species Certification' placeholder='Species Certification'
                  model="site.speciesCertification" field='editForm.speciesCertification'
                  readonly='$ctrl.readonly'></input-text>
              <input-text class='col-md-4 form-group' name='iucnStatus'
                          label='IUCN status' placeholder='IUCN status'
                          model="site.iucnStatus" field='editForm.iucnStatus'></input-text>
            </div>
            <div class="row">
              <input-text class='col-md-4 form-group' name='certificatSupplied'
                  label='Ridley Species Certificate Supplied' placeholder='Ridley Species Certificate Supplied'
                  model="site.certificatSupplied" field='editForm.certificatSupplied'
                  readonly='$ctrl.readonly'></input-text>
              <input-text class='col-md-4 form-group' name='auditRecordSupplied'
                  label='Ridley RS Audit Record Supplied' placeholder='Ridley RS Audit Record Supplied'
                  model="site.auditRecordSupplied" field='editForm.auditRecordSupplied'
                  readonly='$ctrl.readonly'></input-text>
              <input-text class='col-md-4 form-group' name='qms' label='QMS' placeholder='QMS' 
                  model="site.qms" field='editForm.qms' readonly='$ctrl.readonly'></input-text>
            </div>
            <div class="row">
              <input-text class='col-md-4 form-group' name='faoArea'
                  label='FAO area / CCAMLR area' placeholder='FAO area / CCAMLR area'
                  model="site.faoArea" field='editForm.faoArea' readonly='$ctrl.readonly'></input-text>
              <input-text class='col-md-4 form-group' name='faoDesc'
                  label='FAO Description of Location' placeholder='FAO Description of Location'
                  model="site.faoDesc" field='editForm.faoDesc' readonly='$ctrl.readonly'></input-text>
              <link-text class='col-md-4 form-group' name='faoLink'
                  label='FAO Link' placeholder='FAO Link'
                  txt-model="site.faoLink.text" url-model="site.faoLink.url"
                  field='editForm.faoLink' readonly='$ctrl.readonly'></input-text>
            </div>
            <div class="row">
              <input-text class='col-md-4 form-group' name='catchMethod'
                  label='Catching Method' placeholder='Catching Method'
                  model="site.catchMethod" field='editForm.catchMethod' readonly='$ctrl.readonly'></input-text>
            </div>
            <div class="row">
              <input-text class='col-md-4 form-group' name='score'
                  label='Score' placeholder='Score'
                  model="site.score" readonly='true'></input-text>
            </div>
            <div class="row">
              <h4 class="section-header"><span class="label label-default">Fish Score</span></h4>
            </div>
            <div class="row">
              <div class='col-md-4'>
                <div class="row no-margin">
                  <label class='control-label' for='fishScore1'>Is the management strategy precautionary?</label>
                </div>
                <div class="row no-margin extra-bottom-padding">
                  <div class='col-md-4'>
                    <select class='form-control' ng-model="site.fishScore1.cmp" ng-disabled='$ctrl.readonly'>
                      <option value='eq'>=</option>
                      <option value='gt'>&gt;</option>
                      <option value='lt'>&lt;</option>
                      <option value='gte'>&gt;=</option>
                      <option value='lte'>&lt;=</option>
                    </select>
                  </div>
                  <div class='col-md-6 no-margin'>
                    <input type='text' id='fishScore1' ng-model="site.fishScore1.score" 
                           ng-pattern='score_pattern' ng-readonly='$ctrl.readonly'>
                  </div>
                </div>
                <div class="row no-margin">
                  <label class='control-label' for='fishScore2'>Do managers follow scientific advice?</label>
                </div>
                <div class="row no-margin extra-bottom-padding">
                  <div class='col-md-4'>
                    <select class='form-control' ng-model="site.fishScore2.cmp" ng-disabled='$ctrl.readonly'>
                      <option value='eq'>=</option>
                      <option value='gt'>&gt;</option>
                      <option value='lt'>&lt;</option>
                      <option value='gte'>&gt;=</option>
                      <option value='lte'>&lt;=</option>
                    </select>
                  </div>
                  <div class='col-md-6 no-margin'>
                    <input type='text' id='fishScore2' ng-model="site.fishScore2.score"
                           ng-pattern='score_pattern' ng-readonly='$ctrl.readonly'>
                  </div>
                </div>
                <div class="row no-margin">
                  <label class='control-label' for='fishScore3'>Do fishers comply?</label>
                </div>
                <div class="row no-margin extra-bottom-padding">
                  <div class='col-md-4'>
                    <select class='form-control' ng-model="site.fishScore3.cmp" ng-disabled='$ctrl.readonly'>
                      <option value='eq'>=</option>
                      <option value='gt'>&gt;</option>
                      <option value='lt'>&lt;</option>
                      <option value='gte'>&gt;=</option>
                      <option value='lte'>&lt;=</option>
                    </select>
                  </div>
                  <div class='col-md-6 no-margin'>
                    <input type='text' id='fishScore3' ng-model="site.fishScore3.score"
                           ng-pattern='score_pattern' ng-readonly='$ctrl.readonly'>
                  </div>
                </div>
                <div class="row no-margin">
                  <label class='control-label' for='fishScore4'>Is the fish stock healthy?</label>
                </div>
                <div class="row no-margin extra-bottom-padding">
                  <div class='col-md-4'>
                    <select class='form-control' ng-model="site.fishScore4.cmp" ng-disabled='$ctrl.readonly'>
                      <option value='eq'>=</option>
                      <option value='gt'>&gt;</option>
                      <option value='lt'>&lt;</option>
                      <option value='gte'>&gt;=</option>
                      <option value='lte'>&lt;=</option>
                    </select>
                  </div>
                  <div class='col-md-6 no-margin'>
                    <input type='text' id='fishScore4' ng-model="site.fishScore4.score"
                           ng-pattern='score_pattern' ng-readonly='$ctrl.readonly'>
                  </div>
                </div>
                <div class="row no-margin">
                  <label class='control-label' for='fishScore5'>Will the fish stock be healthy in future?</label>
                </div>
                <div class="row no-margin extra-bottom-padding">
                  <div class='col-md-4'>
                    <select class='form-control' ng-model="site.fishScore5.cmp" ng-disabled='$ctrl.readonly'>
                      <option value='eq'>=</option>
                      <option value='gt'>&gt;</option>
                      <option value='lt'>&lt;</option>
                      <option value='gte'>&gt;=</option>
                      <option value='lte'>&lt;=</option>
                    </select>
                  </div>
                  <div class='col-md-6 no-margin'>
                    <input type='text' id='fishScore5' ng-model="site.fishScore5.score"
                           ng-pattern='score_pattern' ng-readonly='$ctrl.readonly'>
                  </div>
                </div>
              </div>
              <div class='col-md-4'>
                <div class='row no-margin'>
                  <link-text class='form-group' name='fishScoreLink'
                    label='FishSource Score Link' placeholder='FishSource Score Link'
                    txt-model="site.fishScoreLink.text"
                    url-model="site.fishScoreLink.url"
                    field='editForm.fishScoreLink'
                    action="$ctrl.openLinkModal(url, callback)"
                    readonly='$ctrl.readonly'></link-text>
                </div>
                <div class='row no-margin'>
                  <link-text class='form-group' name='fishBaseData'
                    label='Fishbase data' placeholder='Fishbase Data'
                    txt-model="site.fishbaseData.text"
                    url-model="site.fishbaseData.url"
                    field='editForm.fishbaseData'
                    action="$ctrl.openLinkModal(url, callback)"
                    readonly='$ctrl.readonly'></link-text>
                </div>
              </div>
            </div>
            <div class="row">
              <h4 class="section-header"><span class="label label-default">Additional Certificates</span></h4>
            </div>
            <div class="row">
              <table id="certificate-table" class="table table-hover">
                <tr ng-repeat="item in site.extraCerts track by $index">
                  <td>
                    <button type="button" class="btn btn-default" ng-hide='$ctrl.readonly'
                            ng-click="$ctrl.removeExtraCertificate(site, $index)">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </td>
                  <td>{{item.cert}}</td>
                  <td>{{item.info}}</td>
                </tr>
                <tr ng-hide='$ctrl.readonly'>
                  <td>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.addExtraCertificate(site)">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </td>
                  <td>
                    <select class="form-control" ng-model="$ctrl.extraCert">
                      <option value="0">IFFO RS (CoC) / ProTerra CoC</option>
                      <option value="1">FAO Code of Conduct for Responsible Fisheries</option>
                      <option value="2">BAP</option>
                      <option value="3">BASC (Business Alliance for Secure Commerce)</option>
                      <option value="4">CCAMLR Commission for the Conservation of Antarctic Marine Living Resources</option>
                      <option value="5">MSC Chain of Custody documents</option>
                      <option value="6">Debio (organic)</option>
                      <option value="7">Dolphin Safe</option>
                      <option value="8">FEMAS</option>
                      <option value="9">Friends of the Sea</option>
                      <option value="10">Global Gap</option>
                      <option value="11">GMP</option>
                      <option value="12">BSE Free</option>
                      <option value="13">HACCP</option>
                      <option value="14">ISO 14001</option>
                      <option value="15">ISO 9001:2008</option>
                      <option value="16">ISO 18001:2007</option>
                      <option value="17">ISO 22000:2005</option>
                      <option value="18">Naturland</option>
                      <option value="19">NOFIMA</option>
                      <option value="20">WWF</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" ng-model="$ctrl.extraCertInfo" class="form-control" placeholder="Information">
                  </td>
                </tr>
              </table>
            </div>
            <div class="row">
              <h4 class="section-header"><span class="label label-default">Extra Information (Section 1)</span></h4>
            </div>
            <div class="row">
              <table id="extra-info-section-1" class="table table-hover">
                <tr ng-repeat="item in site.extraData1 track by $index">
                  <td>
                    <button type="button" class="btn btn-default" ng-hide='$ctrl.readonly'
                            ng-click="$ctrl.removeExtraData1(site, $index)">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </td>
                  <td>{{item.criterion}}</td>
                  <td>{{item.info}}</td>
                </tr>
                <tr ng-hide='$ctrl.readonly'>
                  <td>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.addExtraData1(site)">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </td>
                  <td>
                    <select class="form-control" ng-model="$ctrl.extraData1">
                      <option value="0">Species are advised on shipping paperwork</option>
                      <option value="1">CoA's provided with each shipment</option>
                      <option value="2">CoA's are from 3rd party testing</option>
                      <option value="3">Antioxidant added</option>
                      <option value="4">IUCN declaration</option>
                      <option value="5">IUU declaration</option>
                      <option value="6">Declaration stating exclusion of slave/child labour/contravene of human rights</option>
                      <option value="7">Supplier have 3rd party verification of compliance to human rights declaration</option>
                      <option value="8">Manufacturers Declaration statements required for export to NZ in shipping docs</option>
                      <option value="9">Import statements are in shipping docs</option>
                      <option value="10">Ruminant statement requirements are in shipping docs</option>
                      <option value="11">Byproduct/Trimmings of processing</option>
                      <option value="12">Percentage of Byproduct/Trimmings</option>
                      <option value="13">Farmed material</option>
                      <option value="14">Salmonella Testing stated</option>
                      <option value="15">Shigella testing stated</option>
                      <option value="16">BSE Free Certificate</option>
                      <option value="17">If materials are treated with chemicals or pesticides this is noted in paperwork</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" ng-model="$ctrl.extraData1Info" class="form-control fill" placeholder="Information">
                  </td>
                </tr>
              </table>
            </div>
            <div class="row">
              <h4 class="section-header"><span class="label label-default">Extra Information (Section 2)</span></h4>
            </div>
            <div class="row">
              <table id="extra-info-section-2" class="table table-hover">
                <tr ng-repeat="item in site.extraData2 track by $index">
                  <td>
                    <button type="button" class="btn btn-default" ng-hide='$ctrl.readonly'
                            ng-click="$ctrl.removeExtraData2(site, $index)">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </td>
                  <td>{{item.criterion}}</td>
                  <td>{{item.info}}</td>
                </tr>
                <tr ng-hide='$ctrl.readonly'>
                  <td>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.addExtraData2(site)">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </td>
                  <td>
                    <select class="form-control" ng-model="$ctrl.extraData2">
                      <option value="0">Evidence of traceability back to fishery/vessels</option>
                      <option value="1">Product Specifications supplied</option>
                      <option value="2">Pre-shipment samples sent to Ridley</option>
                      <option value="3">Batch samples arrive with goods</option>
                      <option value="4">&lt;1 NCR in 12 months related to products</option>
                      <option value="5">&lt;1 NCR in 12 months related to delivery</option>
                      <option value="6">&lt;1 DAWR Issue in previous 12 months customs/import</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" ng-model="$ctrl.extraData2Info" class="form-control" placeholder="Information">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fill" ng-hide='$ctrl.readonly'>
      <button class="btn btn-default btn-sm" ng-click="$ctrl.addSite()" ng-hide="$ctrl.addingSite">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Site 
      </button>
      <button class="btn btn-default btn-sm" ng-click="$ctrl.createSite()" ng-show="$ctrl.addingSite">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
      <button class="btn btn-default btn-sm" ng-click="$ctrl.cancelCreateSite()" ng-show="$ctrl.addingSite">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
      <input type="text" class="vertical-align" ng-model='$ctrl.newSiteName'
             ng-show="$ctrl.addingSite" placeholder="Site Name">
    </div>
  </div>
</form>
